<hr class="sectionhrule">
{% if sections %}
{% for section in sections %}
<textarea id="{{ section.key.id }}" class="daypagesection" rows="1" spellcheck='false'>{{ section.content }}</textarea>
{% if not forloop.last %}<hr class="sectionhrule">{% endif %}
{% endfor %}

{% else %}

<textarea id="newdaypagesection" rows="1" placeholder="Start today's page" spellcheck='false'></textarea>

<script>
$(document).ready( function(){
$("#newdaypagesection").focus();
});
</script>

{% endif %}

<script>
  $('.daypagesection, #newdaypagesection').autosize({append: "\n"});
</script>
