<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Daypage{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/_static/stylesheets/foundation.min.css" />
    <style>
      html { background: white;   overflow-y: scroll; }
      
    </style>
    <script type="text/javascript" src="/_static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/_static/javascripts/jquery.autosize-min.js" /></script>
    {% block head %}{% endblock head %}
  </head>

  <body>

    <div class="contain-to-grid">
      <nav class="top-bar">
	<ul class="title-area">
	  <li class="name"><a href="/">Daypage</a></li>
	</ul>
	{% if user %}
	<ul class="right">
	  <li><a href="{{ logout }}">Sign Out</a><li>	 
	</ul>
	<ul class="right">
	  <li><a href="/settings">Settings</a><li>	 
	</ul>
	<ul class="right">
	  <li><a href="/home">{% if account.fullname %}{{ account.fullname }}{% else %}{{ user.nickname }}{% endif %}</a><li>	 
	</ul>
	{% else %}
	<ul class="right">
	  {% for signin in logins %}
	  <li>
	    <a href="{{ signin.url }}">Sign in with {{ signin.name }}</a>
	  </li>
	  {% endfor %}
	</ul>
	{% endif %}
      </nav>
    </div>

    <br>
    {% block body %}{% endblock body %}


    <div class="row" id="footer">
      <div class="twelve columns">
	&copy2013 Daypage | 
	{% if tagline %}{{ tagline }}{% endif %}	
      </div>
    </div>

    {% block endbody %}{% endblock endbody %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38960400-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>

</html>
