<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/_static/stylesheets/foundation.min.css" />
    <style>
      html { background: #292929;   overflow-y: scroll; }
    </style>
    <script type="text/javascript" src="/_static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/_static/javascripts/jquery.autosize-min.js" /></script>
    {% block head %}{% endblock head %}
  </head>

  <body>
    <div class="row">
      <div class="nine columns">
	<h1>Daypage</h1>
	{% if tagline %}<span>{{ tagline }}</span>{% endif %}
      </div>
      <div class="three columns">
	<h4><span style="color: #F22E2E">Under Development</span></h4>
	{% if user %}
	<p>Hi {{ user.nickname }}. <a href="{{ logout }}">Sign Out</a></p>
	{% if admin %}
	{% endif %}



	{% else %}

	<p>Sign in with: | 
	  {% for signin in logins %}
	  <a href="{{ signin.url }}">{{ signin.name }}</a> | 
	  {% endfor %}


	  {% endif %}
      </div>
    </div>
    {% block body %}{% endblock body %}


    {% block endbody %}{% endblock endbody %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38960400-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>

</html>
