{% extends "base.html" %}


{% block head %}
<style>
#newdaypagesection, .daypagesection {
border: 1px #2BBFBD solid;
outline: none;
resize: none;
vertical-align: top;
-webkit-transition: height 0.2s;
-moz-transition: height 0.2s;
transition: height 0.2s;
font-size: 20px;
background: none;
min-height: 100px;
}

#newdaypagesection:focus, .daypagesection:focus {
background: #d3deff;
}

#newdaypagesection {
}

#datepicker {
min-height: 265px;
}
#datepickeroutput {
display: none;
}
#search {
clear: both;
border: none;
}
</style>
<link rel="stylesheet" href="/_static/stylesheets/daypage-theme/jquery-ui-1.10.1.custom.css" />
<script src="/_static/javascripts/jquery-ui-1.10.1.custom.min.js"></script>
{% endblock head %}

{% block body %}

<div class="row">
  <div class="twelve columns">
    <h3 id="thisday">{% now "F jS, Y" %}</h3>
    <input type="text" placeholder="Search (TBD)" id="search"/>    
  </div>
</div>

<div class="row">
<div class="nine columns" id="sectioncrib">

{% if user %}
{% if sections %}
{% for section in sections %}
<textarea id="{{ section.key.id }}" class="daypagesection" rows="1" >{{ section.content }}</textarea>
{% endfor %}
{% endif %}

<textarea id="newdaypagesection" rows="1" placeholder="Add something new to your day"></textarea>

</div>

<div class="three columns">
<input type="text" id="datepickeroutput" />
<div id="datepicker" ></div>
</div>

{% endif %}
</div>
</div>
{% endblock body %}

{% block endbody %}
<script type="text/javascript">

  var thisday = new Date();

  $(document).ready(function() {

  $('#thisday').html( thisday.getMonth()+1 + "/" + thisday.getDate() + "/" + thisday.getFullYear() );

  $('.daypagesection, #newdaypagesection').autosize({append: "\n"});
/*  $('.daypagesection').each( function(index) {
     $(this).val($(this).val()+'\n').trigger('autosize');
     }); */

/* CREATE NEW SECTION */
$('#sectioncrib').on('blur', '#newdaypagesection', function(event) {
  var year = thisday.getFullYear();
  var month = thisday.getMonth() + 1;
  var day = thisday.getDate();
  var content = $(event.target).val();
  var datatosend = {year: year, month: month, day: day, content: content };
  $.post("/jsonnewsection", datatosend, 
      function(data){
         if (data.response == "1"){
            $(event.target).attr("id", data.sectionid);
            $(event.target).attr("class", "daypagesection");
            $(event.target).attr("placeholder", "");
            $(event.target).parent().append("<textarea id='newdaypagesection' rows=1 placeholder='Add something new to your day'></textarea>").fadeIn('250');
         }
         }, 'json');
});

/* UPDATE SECTION */
$('#sectioncrib').on('blur', '.daypagesection', function(event) {
  var sectionid = $(event.target).attr("id");
  var content = $(event.target).val();
  var datatosend = {sectionid: sectionid, content: content};
  $.post("/jsonupdatesection", datatosend, 
      function(data){
         if (data.response == "0"){
  $(event.target).fadeOut('250', function(){ $(event.target).remove()});
         }
         }, 'json' );
});

$('#search').blur(function() {
  var thisday = new Date();
  alert( thisday.toUTCString() );
});

  $( "#datepicker" ).datepicker({
  onSelect: function(selectedDate){
    $('#thisday').html(selectedDate);
    $('#sectioncrib').empty();
    $('#sectioncrib').load('/ajaxloadsections', {"datestring": selectedDate}).fadeIn('500');
  }
  });

  }); /* document.ready */

</script>
{% endblock endbody %}
