{% extends "base.html" %}


{% block head %}
<style>
#newdaypagesection, .daypagesection {
border: none;
outline: none;
resize: none;
vertical-align: top;
-webkit-transition: height 0.2s;
-moz-transition: height 0.2s;
transition: height 0.2s;
font-size: 20px;
background: none;
}

#newdaypagesection:focus, .daypagesection:focus {
background: #d3deff;
}

#datepicker {
min-height: 265px;
}
#datepickeroutput {
display: none;
}
#search {
clear: both;
}
</style>
<script type="text/javascript" src="/_static/javascripts/zebra_datepicker.js"></script>
<link rel="stylesheet" href="/_static/stylesheets/zebra_datepicker.css" type="text/css">
{% endblock head %}

{% block body %}
<div class="row">

<div class="nine columns">

{% if user %}
<h3 id="currentdate">{% now "F jS, Y" %}</h3>

{% if sections %}
{% for section in sections %}
<textarea id="{{ section.key.id }}" class="daypagesection" rows="1">{{ section.content }}</textarea>
{% endfor %}
{% endif %}

<textarea id="newdaypagesection" rows="1" placeholder="Add something new to your day"></textarea>

</div>

<div class="three columns">
<input type="text" id="datepickeroutput" />
<div id="datepicker" ></div>
<input type="text" placeholder="Search" id="search"/>
</div>

{% endif %}
</div>
</div>
{% endblock body %}

{% block endbody %}
<script type="text/javascript">

  $(function(){
  $('.daypagesection, #newdaypagesection').autosize({append: "\n"});
/*  $('.daypagesection').autosize(); */
  });

  $(function(){
  var today = new Date();
  $('#currentdate').html( today.getMonth()+1 + "/" + today.getDate() + "/" + today.getFullYear() );
  });
  
  $(document).ready(function() {
  $('input#datepickeroutput').Zebra_DatePicker({
    always_visible: $('#datepicker'),
    always_show_clear: false,
  });

$('#newdaypagesection').blur(function(event) {
  var currentdate = new Date();
  var year = currentdate.getFullYear();
  var month = currentdate.getMonth();
  var day = currentdate.getDate();
  var content = $(event.target).val();
  var sectionid = $.getJSON("/jsonnewsection?year="+year+"&month="+month+"&day="+day+"&content="+content, function(data) { alert(content); })
});

$('.daypagesection').blur(function(event) {
  var sectionid = $(event.target).attr("id");
  var content = $(event.target).val();
  var sectionid = $.getJSON("/jsonupdatesection?sectionid="+sectionid+"&content="+content, function(data) { alert(data); })
});

$('#search').blur(function() {
  var currentdate = new Date();
  alert( currentdate.toUTCString() );
});

  }); /* document.ready */
  
</script>
{% endblock endbody %}
