{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="twelve columns">
    <h1 style="text-align: center">
      Daypage Will Improve Your Life
    </h1>
    <p>Pick a day</p>
    <p>Type things</p>
    <p>Access later from the Cloud</p>
<h4>Improve Your Life?</h4>
    <p>Daypage helps you keep notes for every day. It is a journal, ledger, diary, log, and/or record keeper. It is inspired by Evernote and Github. I wanted to combine the remember everything aspect of Evernote with the looking back at progress and motivation of Github.</p>
    <p>I have used it every single day since I created it and have become more organized and more date-aware.</p>
    <p>Sign in above to get started, it's seriously two clicks if you have a Google account.</p>
<h4>More Information</h4>
    <p>Daypage is open source! <a href="https://github.com/sponrad/daypage" target="_blank">Github</a></p>
    <p>Daypage runs on Google Appengine</p>
    <p>I started coding Daypage on February 28, 2013. It went live that weekend and I have used it every day since, it will definitely receive updates.</p>
    <p>I will be keeping a semi-current blog of development over at <a href="blog.daypager.com">bog.daypager.com</a></p>
    <p>Email: conrad at devlabtech.com to get in touch<p>
  </div>
</div>


{% endblock body %}
