{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="twelve columns">
    <h1 style="text-align: center">
      Keep Track of Your Life. Daily.
    </h1>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <image src="_static/images/landing_calendar.png" width=200 style="margin: 40px 0px 0px 55px ;" />
  </div>
  <div class="four columns">
    <image src="_static/images/landing_section.png" style="margin: 100px 0px 0px 0px ;"/>
  </div>
  <div class="four columns">
    <image src="_static/images/landing_cloud.png" style="margin: 75px 0px 0px 60px ;"/>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <h3 style="text-align: center;">Pick a day</h3>
  </div>
  <div class="four columns">
    <h3 style="text-align: center;">Type what happened</h3>
  </div>
  <div class="four columns">
    <h3 style="text-align: center;">Access anywhere</h3>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h4>Daypage Can Improve Your Life</h4>
    <p>Daypage helps you keep notes for every day. It is a journal, ledger, diary, log, and/or record keeper. It is inspired by Evernote, Github, Instagram, and Reddit. I really want to combine the remember everything aspect of Evernote with the looking back at progress and motivation of Github, mingled with the social fun of the others.</p>
    <p>I have used it every single day since I created it and have become more organized and more date-aware.</p>
    <p>Sign in above to get started, it's two clicks if you have a Google account.</p>
    <h4>More Information</h4>
    <p>Daypage is open source! <a href="https://github.com/sponrad/daypage" target="_blank">Github</a></p>
    <p>Daypage runs on Google Appengine</p>
    <p>I started coding Daypage on February 28, 2013. It went live that weekend and I have used it every day since, it will definitely receive updates.</p>
    <p>Semi-current <a href="http://blog.daypager.com">Daypage Blog</a></p>
    <p>Email: conrad at devlabtech.com to get in touch<p>
  </div>
</div>

{% endblock body %}
