{% extends "base.html" %}

{% block head %}
<style>
  #datepickeroutput { display: none; }  

  .daypagesection {
  padding: 6px;
  border-radius: 2px;
  border: 1px #2BBFBD solid;
  outline: none;
  resize: none;
  vertical-align: top;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  font-size: 20px;
  background: none;
  min-height: 100px;
  line-height: normal;
  }
  #sectioncrib {min-height: 600px; margin: 30px 0px 0px 0px;}

</style>
<link rel="stylesheet" href="/_static/stylesheets/daypage-theme/jquery-ui-1.10.1.custom.css" />
{% endblock head %}

{% block body %}
<div class="row">
  <div class="nine columns">
    <img id="navgravatar" src="http://www.gravatar.com/avatar/{{ onavatarhash }}?s=65&d=mm" /> 
    <h1>{{ onaccount.fullname }}</h1>

    <div id="sectioncrib">

    {% if sections %}
    {% for s in sections %}
    <p class="daypagesection">{{ s.content|linebreaksbr }}</p>
    {% endfor %}

    {% endif %}

    </div>

  </div>
  <div class="three columns">
    <h4 id="selecteddate">{{ selecteddate }}</h4>
    <input type="text" id="datepickeroutput" />
    <div id="datepicker" ></div>
  </div>
</div>
{% endblock body %}

{% block endbody %}
<script type="text/javascript">
  $(document).ready(function() {

  $( "#datepicker" ).datepicker({
  showOtherMonths: true,
  selectOtherMonths: true,
  defaultDate: "{{ selecteddate }}",
  onSelect: function(selectedDate){
    thisday = new Date(selectedDate);
    var datestring =  thisday.toISOString().replace('-', '').replace('-', '').substring(0,8);
    window.location.href = '/d/{{ account.username }}/' + datestring;
  }
  });  


  })  
</script>
<script src="/_static/javascripts/jquery-ui-1.10.1.custom.min.js"></script>
{% endblock endbody %}

